# Data Wrangling

In [1]:
import pandas as pd
import numpy as np

### Austin Dataframe Formatting

In [3]:
austin_outcomes = pd.read_csv("Data/Austin_Animal_Center_Outcomes.csv")
austin_intakes = pd.read_csv("Data/Austin_Animal_Center_Intakes.csv")

In [4]:
austin_intakes.drop(['Name', 'MonthYear', 'Found Location'],axis=1, inplace=True)

austin_intakes.rename(columns={'Animal ID':'animal_id',
                      'Animal Type':'animal_type',
                      'DateTime':'intake_date',
                      'Intake Type':'intake_type',
                      'Intake Condition':'intake_condition',
                      'Breed':'breed',
                      'Color':'color',
                      'Sex upon Intake':'intake_sex',
                      'Age upon Intake':'intake_age'}, inplace=True)

In [5]:
austin_outcomes.drop(['Name', 'MonthYear'],axis=1, inplace=True)
austin_outcomes.rename(columns={'Animal ID':'animal_id',
                      'Animal Type':'animal_type',
                      'DateTime':'outcome_date',
                      'Outcome Type':'outcome_type',
                      'Outcome Subtype':'outcome_subtype',
                      'Breed':'breed',
                      'Color':'color',
                      'Sex upon Outcome':'outcome_sex',
                      'Age upon Outcome':'outcome_age',
                      'Date of Birth':'birth_date'}, inplace=True)

In [6]:
austin = austin_intakes.merge(austin_outcomes, how='left')
austin.head()

,animal_id,intake_date,intake_type,intake_condition,animal_type,intake_sex,intake_age,breed,color,outcome_date,birth_date,outcome_type,outcome_subtype,outcome_sex,outcome_age
0,A786884,01/03/2019 04:19:00 PM,Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,01/08/2019 03:11:00 PM,01/03/2017,Transfer,Partner,Neutered Male,2 years
1,A706918,07/05/2015 12:59:00 PM,Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,07/05/2015 03:13:00 PM,07/05/2007,Return to Owner,NaN,Spayed Female,8 years
2,A724273,04/14/2016 06:43:00 PM,Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,04/21/2016 05:17:00 PM,04/17/2015,Return to Owner,NaN,Neutered Male,1 year
3,A665644,10/21/2013 07:59:00 AM,Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,10/21/2013 11:39:00 AM,09/21/2013,Transfer,Partner,Intact Female,4 weeks
4,A682524,06/29/2014 10:38:00 AM,Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,07/02/2014 02:16:00 PM,06/29/2010,Return to Owner,NaN,Neutered Male,4 years

In [7]:
# split intake_sex into gender and intake_repro
austin[['intake_repro','gender']]= austin['intake_sex'].str.split(" ", expand=True)
# split outcome_sex into gender and outcome_repro
austin[['outcome_repro','gender']]= austin['outcome_sex'].str.split(" ", expand=True)

# set the new city variable to Austin
austin['city'] = 'austin'

# after creating the new gender and repro columns, drop the old columns
austin.drop(['intake_sex','outcome_sex'], axis=1, inplace=True)

# subset to only Dogs
austin.drop(austin.loc[austin['animal_type']!='Dog'].index, inplace=True)

# drop observations where outcome is unknown
austin.drop(austin.loc[austin['outcome_type'].isna()].index, inplace=True)

# set all string columns to lower case for consistency across all datasets
austin = austin.applymap(lambda s: s.lower() if type(s) == str else s)


austin.tail()

,animal_id,intake_date,intake_type,intake_condition,animal_type,intake_age,breed,color,outcome_date,birth_date,outcome_type,outcome_subtype,outcome_age,intake_repro,gender,outcome_repro,city
172475,a844230,11/05/2021 10:18:00 am,owner surrender,normal,dog,1 year,pit bull,white/brown,11/01/2021 06:08:00 pm,04/13/2020,adoption,NaN,1 year,neutered,male,neutered,austin
172510,a836314,11/06/2021 11:58:00 am,owner surrender,normal,dog,2 years,pit bull mix,white/blue,09/29/2021 01:39:00 pm,06/08/2019,adoption,NaN,2 years,neutered,male,neutered,austin
172511,a836314,11/06/2021 11:58:00 am,owner surrender,normal,dog,2 years,pit bull mix,white/blue,07/16/2021 05:32:00 pm,06/08/2019,adoption,NaN,2 years,neutered,male,neutered,austin
172512,a836314,11/06/2021 11:58:00 am,owner surrender,normal,dog,2 years,pit bull mix,white/blue,11/01/2021 04:55:00 pm,06/08/2019,adoption,NaN,2 years,neutered,male,neutered,austin
172547,a812375,01/21/2020 01:57:00 pm,owner surrender,normal,dog,10 months,great dane,black/white,01/25/2020 02:29:00 pm,03/21/2019,adoption,NaN,10 months,spayed,female,spayed,austin

In [8]:
# transform the single column of date and time into a column for each
# for both intake and outcome

austin['intake_time'] = pd.to_datetime(austin['intake_date']).dt.time
austin['intake_date'] = pd.to_datetime(austin['intake_date']).dt.date

austin['outcome_time'] = pd.to_datetime(austin['outcome_date']).dt.time
austin['outcome_date'] = pd.to_datetime(austin['outcome_date']).dt.date

# create a column for the difference between outcome and intake
# representing how long the animal has been in the system

austin.loc[:,'time_in'] = austin.loc[:,'outcome_date'] - austin.loc[:,'intake_date']
austin['time_in'] = pd.to_numeric(austin['time_in'])/86400000000000

In [9]:
# to correctly track age, split the number and length of measurement into two columns
austin[['intake_age_n', 'intake_age_t']] = austin['intake_age'].str.split(" ",1,expand=True)

# set the number to int for calculating
austin['intake_age_n'] = austin['intake_age_n'].astype('int')

# when age is listed in years, months, or weeks, transform into days
i=0
while i < len(austin['intake_age_n']):
    if austin.iloc[i,-1] in ['year', 'years']:
        austin.iloc[i,-2] = austin.iloc[i,-2] * 365
    elif austin.iloc[i,-1] in ['month', 'months']:
        austin.iloc[i,-2] = austin.iloc[i,-2] * 30
    elif austin.iloc[i,-1] in ['week', 'weeks']:
        austin.iloc[i,-2] = austin.iloc[i,-2] * 7    
    i+=1

# drop the now unnecessary text portion of the original age column and the original column itself    
austin.drop(['intake_age_t', 'intake_age'], axis=1, inplace=True)
austin.rename(columns={'intake_age_n':'age'},inplace=True)

### Louisville Dataframe Formatting

In [10]:
louisville = pd.read_csv("Data/Louisville_Animal_IO_Data_5.csv")

In [11]:
louisville.drop(['SecondaryColor',
                 'IntakeReason',
                 'IntakeInternalStatus',
                 'OutcomeReason',
                 'OutcomeInternalStatus',
                 'SecondaryBreed'], axis=1, inplace=True)

In [12]:
louisville.rename(columns={'AnimalID':'animal_id',
                          'AnimalType':'animal_type',
                          'IntakeDate':'intake_date',
                          'IntakeType':'intake_type',
                          'IntakeSubtype':'intake_subtype',
                          'PrimaryColor':'color',
                          'PrimaryBreed':'breed',
                          'Gender':'gender',
                          'DOB':'birth_date',
                          'IntakeAsilomarStatus':'intake_condition',
                          'ReproductiveStatusAtIntake':'intake_repro',
                          'OutcomeDate':'outcome_date',
                          'OutcomeType':'outcome_type',
                          'OutcomeSubtype':'outcome_subtype',
                          'OutcomeAsilomarStatus':'outcome_condition',
                          'ReproductiveStatusAtOutcome':'outcome_repro',
                          }, inplace=True)

In [13]:
# filter to only dogs
louisville.drop(louisville.loc[louisville['animal_type']!='DOG'].index, inplace=True)

# drop observations where outcome is unknown
louisville.drop(louisville.loc[louisville['outcome_type'].isna()].index, inplace=True)

# turn all string columns to all lowercase
louisville = louisville.applymap(lambda s: s.lower() if type(s) == str else s)

In [14]:
# transform the single column of date and time into a column for each
# for both intake and outcome and in the case of louisville, birth_date

louisville['intake_time'] = pd.to_datetime(louisville['intake_date']).dt.time
louisville['intake_date'] = pd.to_datetime(louisville['intake_date']).dt.date

louisville['outcome_time'] = pd.to_datetime(louisville['outcome_date']).dt.time
louisville['outcome_date'] = pd.to_datetime(louisville['outcome_date']).dt.date

louisville['birth_date'] = pd.to_datetime(louisville['birth_date']).dt.date

# calculate age as the difference between their intake date and date of birth where available
louisville.loc[:,'age'] = louisville.loc[:,'intake_date'] - louisville.loc[:,'birth_date']
louisville['age'] = pd.to_numeric(louisville['age'])/86400000000000

# calculate time in system
louisville.loc[:,'time_in'] = louisville.loc[:,'outcome_date'] - louisville.loc[:,'intake_date']
louisville['time_in'] = pd.to_numeric(louisville['time_in'])/86400000000000

In [15]:
louisville['city'] = 'louisville'

In [16]:
louisville['gender'] = louisville['gender'].str.split().str[-1]

In [17]:
louisville.drop(['birth_date'],axis=1,inplace=True)

In [18]:
louisville

,animal_id,animal_type,intake_date,intake_type,intake_subtype,color,breed,gender,intake_condition,intake_repro,outcome_date,outcome_type,outcome_subtype,outcome_condition,outcome_repro,intake_time,outcome_time,age,time_in,city
4,a281756,dog,2006-09-11,owner sur,otc,white,pit bull terrier,male,healthy,fertile,2006-09-12,euth,time/space,healthy,fertile,18:10:00,13:44:00,365.000000,1.0,louisville
6,a256128,dog,2005-11-26,stray,field,brown,american pit bull terrier,male,healthy,fertile,2005-12-08,euth,medical,healthy,fertile,12:35:00,23:59:00,-106751.991167,12.0,louisville
8,a316619,dog,2007-06-29,stray,field,white,labrador retriever,male,healthy,fertile,2007-07-04,euth,time/space,healthy,fertile,20:10:00,13:12:00,-106751.991167,5.0,louisville
15,a319056,dog,2007-07-19,stray,otc,tricolor,beagle,male,healthy,altered,2007-08-07,euth,time/space,healthy,altered,22:32:00,12:13:00,-106751.991167,19.0,louisville
17,a258842,dog,2005-12-21,confiscate,neglect,white,pit bull terrier,male,healthy,fertile,2005-12-29,euth,breed,healthy,fertile,14:30:00,11:05:00,-106751.991167,8.0,louisville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150835,a489623,dog,2013-04-17,stray,field,apricot,dandie dinmont terrier,male,healthy,fertile,2013-05-08,adoption,internet,healthy,altered,23:01:00,16:19:00,1096.000000,21.0,louisville
150836,a493152,dog,2013-06-04,stray,field,black,dachshund - wirehaired,female,healthy,fertile,2013-06-16,adoption,web pf,healthy,altered,11:02:00,12:55:00,1096.000000,12.0,louisville
150837,a591486,dog,2016-06-02,owner sur,otc,yellow brindle,greyhound,male,healthy,fertile,2016-06-25,adoption,friend,healthy,altered,14:48:00,16:22:00,548.000000,23.0,louisville
150838,a523743,dog,2014-04-16,stray,otc,cream,cairn terrier,female,healthy,fertile,2014-04-23,adoption,internet,healthy,altered,12:05:00,15:11:00,212.000000,7.0,louisville
150839,a369002,dog,2013-01-23,stray,otc,black,miniature pinscher,male,healthy,altered,2013-01-31,transfer,khs,healthy,altered,13:59:00,14:52:00,1687.000000,8.0,louisville

### Dallas Dataframe Formatting

In [19]:
dallas14 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2014.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})
dallas15 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2015.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})
dallas16 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2016.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})
dallas17 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2017.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})
dallas18 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2018.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})
dallas19 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2019.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})
dallas20 = pd.read_csv("Data/Dallas_Animal_Shelter_Data_Fiscal_Year_2020.csv", dtype={'Tag Type': 'string', 'Activity Number': 'string', "Service Request Number":'string'})

In [20]:
# standardize the column names across each year of the dallas datasets, including 1718 which featured
# a different naming convention that every other year.

dallas1718 = dallas17.append(dallas18)
dallas1718.rename(columns={'Animal_Id':'Animal Id',
                           'Animal_Type':'Animal Type',
                           'Animal_Breed':'Animal Breed',
                           'Kennel_Number':'Kennel Number',
                           'Kennel_Status':'Kennel Status',
                           'Tag_Type':'Tag Type',
                           'Activity_Number':'Activity Number',
                           'Activity_Sequence':'Activity Sequence',
                           'Source_Id':'Source Id',
                           'Census_Tract':'Census Tract',
                           'Council_District':'Council District',
                           'Intake_Type':'Intake Type',
                           'Intake_Subtype':'Intake Subtype',
                           'Intake_Total':'Intake Total',
                           'Staff_Id':'Staff Id',
                           'Intake_Date':'Intake Date',
                           'Intake_Time':'Intake Time',
                           'Due_Out':'Due Out',
                           'Intake_Condition':'Intake Condition',
                           'Hold_Request':'Hold Request',
                           'Outcome_Type':'Outcome Type',
                           'Outcome_Subtype':'Outcome Subtype',
                           'Outcome_Date':'Outcome Date',
                           'Outcome_Time':'Outcome Time',
                           'Receipt_Number':'Receipt Number',
                           'Impound_Number':'Impound Number',
                           'Service_Request_Number':'Service Request Number',
                           'Outcome_Condition':'Outcome Condition',
                           'Chip_Status':'Chip Status',
                           'Animal_Origin':'Animal Origin',
                           'Additional_Information':'Additional Information'
                          }, inplace=True)

dallas16.rename(columns={
                        'Animal ID':'Animal Id',
                        'Staff ID':'Staff Id',
                        'Source ID':'Source Id'
                        }, inplace=True)

In [21]:
# combine each year into one dataset
dallas = dallas14.append([dallas15,dallas16,dallas1718, dallas19, dallas20])
dallas.shape

(236972, 34)

In [22]:
dallas.drop(['Kennel Number','Kennel Status','Tag Type',
             'Activity Number','Activity Sequence','Source Id',
             'Census Tract', 'Council District', 'Intake Total', 'Reason', 'Staff Id',
            'Due Out', 'Hold Request','Receipt Number', 'Impound Number',
            'Service Request Number', 'Chip Status', 'Animal Origin',
            'Additional Information', 'Month','Year'], axis=1, inplace=True)

In [23]:
dallas.rename(columns={'Animal Id':'animal_id',
                       'Animal Type':'animal_type',
                       'Animal Breed':'breed',
                       'Intake Type':'intake_type',
                       'Intake Subtype':'intake_subtype',
                       'Intake Date':'intake_date',
                       'Intake Time':'intake_time',
                       'Intake Condition':'intake_condition',
                       'Outcome Type':'outcome_type',
                       'Outcome Date':'outcome_date',
                       'Outcome Time':'outcome_time',
                       'Outcome Condition':'outcome_condition',
                       'Outcome Subtype':'outcome_subtype',
                       'Month':'month',
                       'Year':'year'
    
}, inplace=True)
dallas.head()

,animal_id,animal_type,breed,intake_type,intake_subtype,intake_date,intake_time,intake_condition,outcome_type,outcome_date,outcome_time,outcome_condition,outcome_subtype
0,A0000575,CAT,DOMESTIC SH,STRAY,CONFINED,10/02/2014 12:00:00 AM,12/31/1899 11:56:00 AM,TREATABLE REHABILITABLE NON-CONTAGIOUS,ADOPTION,10/12/2014 12:00:00 AM,12/31/1899 03:25:00 PM,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN
1,A0008962,DOG,LABRADOR RETR,CONFISCATED,KEEP SAFE,09/24/2015 12:00:00 AM,12/31/1899 03:50:00 PM,TREATABLE REHABILITABLE NON-CONTAGIOUS,EUTHANIZED,10/04/2015 12:00:00 AM,12/31/1899 12:22:00 PM,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN
2,A0121376,DOG,GERM SHEPHERD,STRAY,CONFINED,05/01/2015 12:00:00 AM,12/31/1899 12:09:00 PM,TREATABLE MANAGEABLE NON-CONTAGIOUS,EUTHANIZED,05/03/2015 12:00:00 AM,12/31/1899 11:53:00 AM,TREATABLE MANAGEABLE NON-CONTAGIOUS,NaN
3,A0129114,CAT,DOMESTIC SH,OWNER SURRENDER,GENERAL,09/19/2015 12:00:00 AM,12/31/1899 04:46:00 PM,TREATABLE REHABILITABLE NON-CONTAGIOUS,ADOPTION,10/26/2015 12:00:00 AM,12/31/1899 02:09:00 PM,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN
4,A0157434,DOG,ROTTWEILER,OWNER SURRENDER,- DEAD ON ARRIVAL,12/03/2014 12:00:00 AM,12/31/1899 08:06:00 PM,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,DEAD ON ARRIVAL,12/04/2014 12:00:00 AM,12/31/1899 12:00:00 PM,UNHEALTHY UNTREATABLE NON-CONTAGIOUS,NaN

In [24]:
# filter to only dogs
dallas.drop(dallas.loc[dallas['animal_type']!='DOG'].index, inplace=True)

# drop observations where outcome is unknown
dallas.drop(dallas.loc[dallas['outcome_type'].isna()].index, inplace=True)

# turn all string columns to all lowercase
dallas = dallas.applymap(lambda s: s.lower() if type(s) == str else s)

dallas['city'] = 'dallas'

In [25]:
# transform the single column of date into a column for each
# for both intake and outcome, not using time because it doesn't contain meaningful data for this particular
# dataset

dallas['intake_date'] = pd.to_datetime(dallas['intake_date']).dt.date
dallas['intake_time'] = pd.to_datetime(dallas['intake_time']).dt.time
dallas['outcome_date'] = pd.to_datetime(dallas['outcome_date']).dt.date
dallas['outcome_time'] = pd.to_datetime(dallas['outcome_time']).dt.time


# create a column for the difference between outcome and intake
# representing how long the animal has been in the system

dallas.loc[:,'time_in'] = dallas.loc[:,'outcome_date'] - dallas.loc[:,'intake_date']
dallas['time_in'] = pd.to_numeric(dallas['time_in'])/86400000000000

In [26]:
dallas.head()

,animal_id,animal_type,breed,intake_type,intake_subtype,intake_date,intake_time,intake_condition,outcome_type,outcome_date,outcome_time,outcome_condition,outcome_subtype,city,time_in
6,a0183589,dog,aust cattle dog,owner surrender,general,2015-06-01,15:47:00,unhealthy untreatable non-contagious,euthanized,2015-06-01,00:00:00,unhealthy untreatable non-contagious,NaN,dallas,0.0
17,a0275199,dog,shih tzu,owner surrender,general,2014-12-03,13:09:00,unhealthy untreatable non-contagious,euthanized,2014-12-03,14:17:00,unhealthy untreatable non-contagious,NaN,dallas,0.0
26,a0337666,dog,rat terrier,owner surrender,euthanasia requested,2015-05-13,17:08:00,unhealthy untreatable non-contagious,euthanized,2015-05-13,17:29:00,unhealthy untreatable non-contagious,NaN,dallas,0.0
29,a0350222,dog,labrador retr,owner surrender,general,2015-07-07,11:52:00,unhealthy untreatable non-contagious,euthanized,2015-07-07,12:29:00,unhealthy untreatable non-contagious,NaN,dallas,0.0
30,a0350630,dog,papillon,owner surrender,euthanasia requested,2015-03-02,15:32:00,treatable manageable non-contagious,euthanized,2015-03-02,16:04:00,unhealthy untreatable non-contagious,NaN,dallas,0.0

In [62]:
all = austin.merge(louisville, how="outer")
all = all.merge(dallas, how='outer')

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:1151: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

In [63]:
all.shape

(220606, 22)

## Predictors to Standardize
- intake_subtype
- set variables to categorical
- split group into different columns

In [65]:
# replace frequent shorthands and typos to make the rest of the processing
# below easier

all['breed'].replace({
    'alask ':'alaskan ',
    'belg ':'belgian ',
    'span ':'spaniel ',
    'span/':'spaniel/',
    'mtn':'mountain',
    'amer ':'american ',
    'aust ':'australian ',
    'retr':'retriever',
    'chesa':'chesapeake bay',
    ' lh':' longhair',
    ' bordx':' bordeaux',
    'eng ':'english ',
    ' sprngr ':' springer ',
    'flat-coated':'flat coat',
    ' terr ':' terrier ',
    'gr swiss ':'great swiss ',
    'ital ':'italian ',
    'mex ':'mexican ',
    'min ':'minature ',
    'norw ':'norwegian ',
    'ns ':'nova scotia',
    'oldeng':'old english',
    '(jack) ':'',
    'terr/':'terrier/',
    'pbgv':'petit basset griffon vendeen',
    'pitbull':'pit bull',
    'rhod ':'rhodesian ',
    'scot ':'scottish ',
    'sheltd ':'shetland ',
    'soft-coated':'soft coated',
    'soft coated':'soft coat',
    ' rgh':' rough coat',
    'rough coated':'rough coat',
    ' smth':' smooth coat',
    'swed ':'swedish',
    'tenn tr ':'tennesee treeing',
    'tr ':'tree ',
    ' - ':' ',
    'austalian':'australian',
    'stffordshire':'staffordshire',
    'bostn':'boston',
    'mastff':'mastiff',
    'chinese crestd':'chinese crested',
    'dachsund':'dachshund',
    'manchestr':'manchester',
    'munstrlander':'munsterlander',
    'stndard':'standard'
}, inplace=True, regex=True)

In [66]:
# replace one-off breed names that are the entire entry

all['breed'].replace({
    'airedale terr':'airedale terrier',
    'am pit bull ter':'american pit bull terrier',
    'american staff':'american staffordshire terrier',
    'anatolian shepherd':'anatol shepherd',
    'black and tan coonound':'black/tan hound',
    'bluetick coonhound':'bluetick hound',
    'bouvier des flandres':'bouv flandres',
    'boykin span':'boykin spaniel',
    'brussels griffon':'bruss griffon',
    'bull terrier min':'bull terrier miniature',
    'catahoula leopard hound':'catahoula',
    'cavalier span':'cavalier spaniel',
    'chihuahua long haired':'chihuahua longhair',
    'chihuahua sh':'chihuahua shorthair',
    'chihuahua smooth coated':'chihuahua shorthair',
    'cocker amer':'cocker spaniel',
    'cocker-poo':'cocker spaniel poodle',
    'collie':'border collie',
    'dutch sheepdog':'dutch shepherd',
    'gbgv':'grand basset griffon vendeen',
    'germ sh point':'german shorthair pointer',
    'germ shepherd':'german shepherd',
    'germ wh point':'german wirehair pointer',
    'german shorthaired pointer':'german shorthair pointer',
    'german wirehaired pointer':'german wirehair pointer',
    'neopolitan mast':'neopolitan mastiff',
    'nova scotiaduck tolling':'nova scotia duck tolling retriever',
    'sheepdg':'sheepdog',
    'polish lowland sheepdog':'polish lowland',
    'poodle min':'minature poodle',
    'poodle minature':'minature poodle',
    'poodle standard':'standard poodle',
    'poodle stnd':'standard poodle',
    'poodle toy':'toy poodle',
    'port water dog':'portuguese water dog',
    'queensland heeler':'queensland heel',
    'redbone coonhound':'redbone hound',
    'schnauzer min':'minature schnauzer',
    'schnauzer standard':'schnauzer stand',
    'tennesee treeingbrindle':'tennesee treeing brindle hound',
    'treeing tennesse brindle':'tennesee treeing brindle hound',
    'tibetan span':'tibetan spaniel',
    'kerry blue terr':'kerry blue terrier',
    'manchester terr':'manchester terrier',
    'westhighland':'west highland',
    'bruss griffon':'brussels griffon',
    'chihuahua shorthair':'chihuahua',
    'chihuahua longhair':'chihuahua',
    'st\. bernard rough coat':'st bernard',
    'st\. bernard smooth coat':'st bernard',
    'pit bull':'pitbull',
    'pit bull mix':'pitbull'
}, inplace=True)

all['breed'].replace({'retrieveriever':'retriever',
                      'schnauzer stand':'standard schnauzer',
                      'queensland heel':'queensland heeler',
                      'bay bay':'bay',
                      'st\.':'st'
                     }, inplace=True, regex=True)

In [67]:
#for u in all.breed.unique():
#    print(u)

In [68]:
breeds = ['affenpinscher', 'afghan hound', 'airedale terrier', 'akbash', 'akita',
          'australian shepherd', 'alaskan husky', 'alaskan klee kai', 'alaskan malamute',
          'australian kelpie', 'american bulldog', 'american eskimo',
          'american foxhound', 'american pit bull terrier',
          'american staffordshire terrier', 'anatol shepherd',
          'australian cattle dog', 'australian kelpie', 'australian shepherd',
          'australian terrier', 'basenji', 'basset hound',
          'beagle', 'bearded collie', 'beauceron', 'bedlington terrier',
          'belgian laekenois', 'belgian malinois', 'belgian sheepdog',
          'belgian tervuren', 'bernese hound', 'bernese mountain dog', 'bichon frise',
          'black mouth cur', 'black/tan hound', 'bloodhound', 'blue lacy',
          'bluetick hound', 'boerboel', 'border collie', 'border terrier',
          'borzoi', 'boston terrier', 'bouv flandres', 'boxer', 'boykin spaniel',
          'briard', 'brittany', 'brussels griffon', 'bull terrier',
          'bull terrier miniature', 'bulldog', 'bullmastiff', 'cairn terrier',
          'canaan dog', 'cane corso', 'cardigan welsh corgi', 'carolina dog',
          'catahoula', 'cavalier spaniel', 'chesapeake bay retriever', 'chihuahua longhair',
          'chihuahua shorthair', 'chinese crested', 'chinese sharpei', 'chow chow',
          'clumber spaniel', 'cocker spaniel', 'collie rough', 'collie smooth',
          'coonhound', 'coton de tulear', 'dachshund', 'dachshund longhair', 'dachshund wirehair',
          'dalmatian', 'dandie dinmont', 'doberman pinscher', 'dogo argentino', 'dogue de bordeaux',
          'dutch shepherd', 'english bulldog', 'english cocker spaniel', 'english coonhound',
          'english foxhound', 'english pointer', 'english setter', 'english shepherd',
          'english springer spaniel', 'english toy spaniel', 'entlebucher',
          'feist', 'field spaniel', 'fila brasileiro', 'finnish spitz', 'flat coat retriever',
          'fox terrier', 'french bulldog', 'german pinscher', 'german shepherd', 'german shorthair pointer',
          'german wirehair pointer','glen of imaal', 'golden retriever', 'gordon setter', 'great dane',
          'great pyrenees', 'great swiss mountain', 'greyhound', 'harrier', 'havanese', 'hound',
          'hovawart', 'ibizan hound', 'irish setter', 'irish terrier', 'irish wolfhound', 'italian greyhound',
          'japanese chin', 'jindo', 'kangal', 'karelian bear dog', 'keeshond', 'kerry blue terrier',
          'korean jindo', 'kuvasz', 'labrador retriever', 'lakeland terrier', 'landseer', 'leonberger',
          'lhasa apso', 'lowchen', 'maltese', 'manchester terrier', 'mastiff', 'mexican hairless',
          'minature pinscher', 'minature poodle', 'minature schnauzer', 'munsterlander', 'neapolitan mastiff',
          'newfoundland', 'norfolk terrier', 'norwegian buhund', 'norwegian elkhound', 'norwich terrier',
          'nova scotia duck tolling retriever', 'old english bulldog', 'old english sheepdog',
          'otterhound', 'papillon', 'parson russell terrier', 'patterdale terrier', 'pekapoo',
          'pekingese','pembroke welsh corgi', 'petit basset griffon vendeen', 'pharaoh hound',
          'picardy sheepdog', 'pit bull', 'plott hound', 'podengo pequeno', 'pointer', 'polish lowland',
          'pomeranian', 'toy poodle', 'portuguese water dog', 'presa canario', 'pug',
          'puli', 'queensland heeler', 'rat terrier', 'redbone hound', 'rhodesian ridgeback',
          'rottweiler', 'russell terrier', 'saluki', 'samoyed', 'schipperke', 'schnauzer giant',
          'scottish deerhound', 'scottish terrier', 'shepherd', 'shetland sheepdog',
          'shiba inu', 'shih tzu', 'siberian husky', 'silky terrier', 'smooth fox terrier',
          'soft coated wheaten terrier', 'spanish mastiff', 'spinone italiano', 'st bernard rough coat',
          'st bernard smooth coat', 'staffordshire', 'standard poodle', 'standard schnauzer',
          'sussex spaniel', 'swedish vallhund', 'swiss hound', 'tennesee treeing brindle hound',
          'terrier', 'tibetan mastiff', 'tibetan spaniel', 'tibetan terrier', 'toy fox terrier',
          'toy poodle', 'tree walker hound', 'treeing cur', 'treeing walker coonhound', 'vizsla',
          'weimaraner', 'welsh springer spaniel', 'west highland', 'whippet', 'wire hair fox terrier',
          'wirehaired pointing griffon', 'wirehaired vizsla', 'wolf hybrid', 'yorkshire terrier'     
         ]
len(breeds)

220

In [69]:
for b in breeds:
    all[b] = all['breed'].apply(lambda x: int(b in x) if isinstance(x,str) else 0)

In [57]:
#for c in all.columns[22:]:
#    print(c + ": " + str(sum(all[c])))

affenpinscher: 62
afghan hound: 4
airedale terrier: 157
akbash: 16
akita: 706
australian shepherd: 2627
alaskan husky: 1350
alaskan klee kai: 4
alaskan malamute: 319
australian kelpie: 925
american bulldog: 1877
american eskimo: 272
american foxhound: 192
american pit bull terrier: 3500
american staffordshire terrier: 1755
anatol shepherd: 1288
australian cattle dog: 5182
australian terrier: 90
basenji: 336
basset hound: 1239
beagle: 7886
bearded collie: 95
beauceron: 101
bedlington terrier: 12
belgian laekenois: 1
belgian malinois: 433
belgian sheepdog: 17
belgian tervuren: 20
bernese hound: 8
bernese mountain dog: 95
bichon frise: 349
black mouth cur: 1134
black/tan hound: 568
bloodhound: 247
blue lacy: 459
bluetick hound: 154
boerboel: 16
border collie: 4645
border terrier: 620
borzoi: 6
boston terrier: 853
bouv flandres: 19
boxer: 6628
boykin spaniel: 20
briard: 11
brittany: 179
brussels griffon: 19
bull terrier: 19174
bull terrier miniature: 40
bulldog: 2965
bullmastiff: 232
cairn terrier: 2414
canaan dog: 38
cane corso: 384
cardigan welsh corgi: 513
carolina dog: 326
catahoula: 2186
cavalier spaniel: 73
chesapeake bay retriever: 58
chihuahua longhair: 1147
chihuahua shorthair: 17369
chinese crested: 66
chinese sharpei: 1068
chow chow: 3067
clumber spaniel: 9
cocker spaniel: 1252
collie rough: 511
collie smooth: 783
coonhound: 475
coton de tulear: 13
dachshund: 4954
dachshund longhair: 423
dachshund wirehair: 301
dalmatian: 455
dandie dinmont: 21
doberman pinscher: 407
dogo argentino: 64
dogue de bordeaux: 92
dutch shepherd: 190
english bulldog: 651
english cocker spaniel: 21
english coonhound: 200
english foxhound: 82
english pointer: 136
english setter: 87
english shepherd: 40
english springer spaniel: 99
english toy spaniel: 8
entlebucher: 6
feist: 57
field spaniel: 27
fila brasileiro: 3
finnish spitz: 105
flat coat retriever: 332
fox terrier: 718
french bulldog: 159
german pinscher: 17
german shepherd: 18542
german shorthair pointer: 283
german wirehair pointer: 11
glen of imaal: 25
golden retriever: 1622
gordon setter: 38
great dane: 758
great pyrenees: 2451
great swiss mountain: 1
greyhound: 394
harrier: 264
havanese: 117
hound: 5183
hovawart: 5
ibizan hound: 39
irish setter: 61
irish terrier: 99
irish wolfhound: 74
italian greyhound: 134
japanese chin: 28
jindo: 76
kangal: 8
karelian bear dog: 3
keeshond: 47
kerry blue terrier: 1
korean jindo: 28
kuvasz: 21
labrador retriever: 32165
lakeland terrier: 5
landseer: 51
leonberger: 27
lhasa apso: 693
lowchen: 9
maltese: 1259
manchester terrier: 347
mastiff: 1173
mexican hairless: 19
minature pinscher: 98
minature poodle: 383
minature schnauzer: 260
munsterlander: 2
neapolitan mastiff: 28
newfoundland: 92
norfolk terrier: 307
norwegian buhund: 4
norwegian elkhound: 42
norwich terrier: 191
nova scotia duck tolling retriever: 39
old english bulldog: 57
old english sheepdog: 45
otterhound: 38
papillon: 254
parson russell terrier: 151
patterdale terrier: 91
pekapoo: 1
pekingese: 520
pembroke welsh corgi: 220
petit basset griffon vendeen: 137
pharaoh hound: 160
picardy sheepdog: 13
pit bull: 20863
plott hound: 1071
podengo pequeno: 11
pointer: 2382
polish lowland: 5
pomeranian: 1260
toy poodle: 590
portuguese water dog: 10
presa canario: 72
pug: 1566
puli: 2
queensland heeler: 407
rat terrier: 3092
redbone hound: 333
rhodesian ridgeback: 421
rottweiler: 4149
russell terrier: 2023
saluki: 35
samoyed: 56
schipperke: 91
schnauzer giant: 79
scottish deerhound: 3
scottish terrier: 201
shepherd: 22595
shetland sheepdog: 420
shiba inu: 187
shih tzu: 2991
siberian husky: 3816
silky terrier: 114
smooth fox terrier: 111
soft coated wheaten terrier: 23
spanish mastiff: 1
spinone italiano: 14
st bernard rough coat: 381
st bernard smooth coat: 231
staffordshire: 3853
standard poodle: 332
standard schnauzer: 383
sussex spaniel: 8
swedish vallhund: 58
swiss hound: 6
tennesee treeing brindle hound: 21
terrier: 34695
tibetan mastiff: 3
tibetan spaniel: 69
tibetan terrier: 85
toy fox terrier: 149
tree walker hound: 37
treeing cur: 45
treeing walker coonhound: 274
vizsla: 254
weimaraner: 310
welsh springer spaniel: 16
west highland: 268
whippet: 348
wire hair fox terrier: 172
wirehaired pointing griffon: 21
wirehaired vizsla: 1
wolf hybrid: 16
yorkshire terrier: 2181

In [70]:
all['group'] = ''

In [71]:
herding_list = [
    'australian cattle dog', 'australian shepherd', 'bearded collie', 'beauceron', 'belgian laekenois',
    'belgian malinois', 'belgian sheepdog', 'belgian tervuren', 'border collie', 'bouv flandres', 'briard',
    'canaan dog', 'cardigan welsh corgi', 'collie', 'entlebucher', 'german shepherd', 'norwegian buhund',
    'old english sheepdog', 'pembroke welsh corgi', 'puli', 'shetland sheepdog', 'swedish vallhund'
]

hound_list = [
    'afghan hound', 'american foxhound', 'basenji', 'basset hound', 'beagle', 'black/tan hound', 'coonhound',
    'bloodhound', 'bluetick hound', 'borzoi', 'dachshund', 'english foxhound', 'greyhound',
    'harrier', 'ibizan hound', 'irish wolfhound', 'norwegian elkhound', 'otterhound',
    'petit basset griffon vendeen', 'pharaoh hound', 'plott hound', 'podengo pequeno',
    'redbone hound', 'rhodesian ridgeback', 'saluki', 'scotish deerhound', 'treeing walker coonhound',
    'whippet'
]

toy_list = [
    'affenpinscher', 'brussels griffon', 'cavalier spaniel', 'chihuahua', 'chinese crested', 'english toy spaniel',
    'havanese', 'italian greyhound', 'japanese chin', 'maltese', 'manchester terrier',
    'miniature pinscher', 'papillon', 'pekingese', 'pomeranian', 'toy poodle', 'pug', 'shih tzu',
    'silky terrier', 'toy fox terrier', 'yorkshire terrier'
]

nonsport_list = ['american eskimo', 'bichon frise', 'boston terrier', 'bulldog', 'chinese sharpei',
                'chow chow', 'coton de tulear', 'dalmatian', 'finnish spitz', 'french bulldog', 'keeshond',
                'lhasa apso', 'lowchen', 'standard poodle', 'shiba inu', 'tibetan spaniel', 'tibetan terrier'
                ]

sport_list = [
    'boykin spaniel', 'brittany', 'chesapeake bay retriever', 'clumber spaniel', 'cocker spaniel',
    'english cocker spaniel', 'english setter', 'english springer spaniel', 'field spaniel', 'flat coat retriever',
    'german shorthair pointer', 'german wirehair pointer', 'golden retriever', 'gordon setter', 'irish setter',
    'labrador retriever', 'nova scotia duck tolling retriever', 'pointer', 'spinone italiano', 'sussex spaniel',
    'vizsla', 'weimaraner', 'welsh springer spaniel', 'wirehaired pointed griffon', 'wirehaired vizsla'
            ]

terrier_list = [
    'airedale terrier', 'american staffordshire terrier', 'australian terrier', 'bedlington terrier',
    'border terrier', 'bull terrier', 'cairn terrier', 'dandie dinmont', 'glen of imaal',
    'irish terrier', 'kerry blue terrier', 'lakeland terrier', 'manchester terrier', 'bull terrier minature',
    'norfolk terrier', 'norwich terrier', 'parson russell terrier', 'rat terrier', 'russell terrier',
    'scottish terrier', 'smooth fox terrier', 'soft coated wheaten terrier', 'staffordshire', 'welsh terrier',
    'west highland', 'wire hair fox terrier'
]

working_list = [
    'akita', 'alaskan malamute', 'anatol shepherd', 'bernese mountain dog', 'boerboel', 'boxer', 'bullmastiff',
    'cane corso', 'doberman pinscher', 'dogo argentino', 'dogue de bordeaux', 'german pinscher', 'schnauzer giant',
    'great dane', 'great pyrenees', 'great swiss mountain', 'kuvasz', 'leonberger', 'mastiff', 'neapolitan mastiff',
    'newfoundland', 'portuguese water dog', 'rottweiler', 'st bernard', 'samoyed', 'siberian husky', 'standard schnauzer',
    'tibetan mastiff'
]

misc_list = [
    'belgian laekenois', 'dutch shepherd'
]

fss_list = [
    'american bulldog', 'australian kelpie', 'carolina dog', 'catahoula', 'hovawart', 'jindo', 'karelian bear dog'
]

pit_list = [
    'american staffordshire terrier', 'american bull terrier', 'american pit bull terrier', 'pitbull',
    'american bulldog', 'staffordshire'
]


r=0
c=22
while r < len(all):
    while c < len(all.columns):
        if (all.columns[c] in herding_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "herding, "
        elif (all.columns[c] in hound_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "hound, "
        elif (all.columns[c] in toy_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "toy, "
        elif (all.columns[c] in nonsport_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "non-sporting, "
        elif (all.columns[c] in sport_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "sporting, "
        elif (all.columns[c] in terrier_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "terrier, "
        elif (all.columns[c] in working_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "working, "
        elif (all.columns[c] in misc_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "misc, "
        elif (all.columns[c] in fss_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "fss, "
        elif (all.columns[c] in pit_list) and (all.iloc[r,c] == 1):
            all.iloc[r,-1] = all.iloc[r,-1] + "pitbull, "
        c+=1
    c=22    
    r+=1

In [72]:
all

,animal_id,intake_date,intake_type,intake_condition,animal_type,breed,color,outcome_date,birth_date,outcome_type,...,weimaraner,welsh springer spaniel,west highland,whippet,wire hair fox terrier,wirehaired pointing griffon,wirehaired vizsla,wolf hybrid,yorkshire terrier,group
0,a786884,2019-01-03,stray,normal,dog,beagle mix,tricolor,2019-01-08,01/03/2017,transfer,...,0,0,0,0,0,0,0,0,0,"hound,"
1,a706918,2015-07-05,stray,normal,dog,english springer spaniel,white/liver,2015-07-05,07/05/2007,return to owner,...,0,0,0,0,0,0,0,0,0,"sporting,"
2,a724273,2016-04-14,stray,normal,dog,basenji mix,sable/white,2016-04-21,04/17/2015,return to owner,...,0,0,0,0,0,0,0,0,0,"hound,"
3,a682524,2014-06-29,stray,normal,dog,doberman pinsch/australian cattle dog,tan/gray,2014-07-02,06/29/2010,return to owner,...,0,0,0,0,0,0,0,0,0,"herding,"
4,a743852,2017-02-18,owner surrender,normal,dog,labrador retriever mix,chocolate,2017-02-21,02/18/2015,return to owner,...,0,0,0,0,0,0,0,0,0,"sporting,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220601,a1126718,2021-08-16,owner surrender,app wnl,dog,labrador retriever,NaN,2021-08-20,NaN,adoption,...,0,0,0,0,0,0,0,0,0,"sporting,"
220602,a1128782,2021-09-03,stray,app wnl,dog,american pit bull terrier,NaN,2021-10-11,NaN,adoption,...,0,0,0,0,0,0,0,0,0,"pitbull, terrier,"
220603,a1130276,2021-09-27,stray,app wnl,dog,pitbull,NaN,2021-10-11,NaN,adoption,...,0,0,0,0,0,0,0,0,0,
220604,a1129102,2021-09-23,owner surrender,app wnl,dog,german shepherd,NaN,2021-10-11,NaN,adoption,...,0,0,0,0,0,0,0,0,0,"herding,"
220605,a1129888,2021-09-21,stray,app wnl,dog,pitbull,NaN,2021-10-14,NaN,adoption,...,0,0,0,0,0,0,0,0,0,

In [73]:
all['color'].replace({
    'apricot':'yellow',
    'beige':'tan',
    'blonde':'yellow',
    'liver':'brindle',
    'orange':'yellow',
    'pink':'red',
    'ruddy':'red',
    'tiger':'brindle',
    'gold':'yellow',
    'silver':'gray'
}, inplace=True, regex=True)


colors = ['black','blue','brindle','brown','buff','chocolate',
          'cream','fawn','gray','merle','red',
          'sable','tan','tick','tricolor','white','yellow']

for c in colors:
    all[c] = all['color'].apply(lambda x: int(c in x) if isinstance(x,str) else 0)

In [74]:
all['intake_type'].replace({
# standardize across different datasets
    'confiscate':'confiscated',
    'foster':'return',
    'owner sur':'owner surrender',
# set all euthanasia and disposal to euthanasia request
    'euthanasia':'euthanasia request',
    'euth req':'euthanasia request',
    'dispos req':'euthanasia request',
    'et request':'euthanasia request',
    'disposal':'euthanasia request',
# aggregate all medical reasons
    'outsurgery':'medical',
    'treatment':'medical',
    'quarantine':'medical',
    'med observ':'medical',
# generalize several niche stray conditions to stray
    'lost':'stray',
    'found':'stray',
    'wildlife':'stray',
    'evacuee':'stray',
    'abandoned':'stray',
# add reported animals to public assist    
    'lost report':'public assist',
    'found report':'public assist',
# add all infrequent specifications to other to reduce number of categories
    'khs':'other',
    'investigat':'other',
    'keepsafe':'other',
    'transport':'other',
    'for transp':'other',
    'transfer':'other'
}, inplace=True)

all.intake_type.value_counts()

stray                 137778
owner surrender        52978
public assist          11747
confiscated             6018
euthanasia request      4353
medical                 3643
return                  3565
other                    524
Name: intake_type, dtype: int64

In [75]:
all['intake_condition'].replace({
# mark all normal, treatable+manageable+non-contagious as relatively healthy
# as there is no "more positive" denotation in the dataset
    'normal':'healthy', 
    'treatable/manageable':'treatable manageable non-contagious',
    'treatable manageable non-contagious':'healthy',
# mark all non-contagious rehabilitable instances to injured
    'treatable rehabilitable non-contagious':'injured',
# if not clear whether sick or injured, list as unhealthy
    'unhealthy untreatable non-contagious':'unhealthy',
    'unhealthy/untreatable':'unhealthy',
    'critical':'unhealthy',
    'med urgent':'unhealthy',
    'fatal':'unhealthy',
    'medical':'unhealthy',
# mark all "contagious" instances to sick
    'unhealthy untreatable contagious':'sick',
    'treatable rehabilitable contagious':'sick',
    'treatable manageable contagious':'sick',
# mark behavior issues as other given relative infrequency
    'feral':'other',
    'behavior':'other',
# combine nursing and pregnant
    'nursing':'pregnant/nursing',
    'pregnant':'pregnant/nursing',
# standardize other category names
    'app well':'healthy',
    'app inj':'injured',
    'app sick':'sick',
    'app wnl':'healthy',
    'unknown':'other',
    'deceased':'dead',
# drop aged and neonatal since age is captured in another variable
# assume that if age is the only qualifier, they are likely otherwise healthy
    'underage':'healthy',
    'aged':'healthy',
    'neonatal':'healthy',
}, inplace=True)

all.intake_condition.value_counts()

healthy                                179269
injured                                 25869
unhealthy                                7756
sick                                     3028
treatable manageable non-contagious      2850
pregnant/nursing                         1405
other                                     371
dead                                       58
Name: intake_condition, dtype: int64

In [76]:
all['gender'].replace({'litter':'unknown'},inplace=True)

all.gender.value_counts()

male       101317
female      82348
unknown      1252
Name: gender, dtype: int64

In [77]:
all['intake_repro'].replace({
    'fertile':'intact',
    'neutered':'altered',
    'spayed':'altered'
},inplace=True)

all.intake_repro.value_counts()

intact     108857
altered     74808
unknown      1742
Name: intake_repro, dtype: int64

In [87]:
all['intake_subtype'].replace({
    #'with id':'other',
    #'spca texas':'other',
    'trap':'field',
    'aid':'assist',
    'night':'field',
    'died':'dead',
    'weather':'field',
    'left at':'abuse',
    'vehicletow':'field',
    'neglect':'abuse',
    'cruelty':'abuse',
    'otc owned':'surrender',
    #'mas':'other',
    'abandoned':'abuse',
    'sick':'condition',
    'field own':'surrender',
    'unpermited':'owner',
    'chaining':'abuse',
    'bite':'behavior',
    'aggressive':'behavior',
    'potdanger':'behavior',
    'police':'assist',
    'k humane s':'assist',
    'an control':'assist',
    'return':'adoption',
    'danger dog':'behavior',
    'old':'condition',
    'restraint':'behavior',
    'owner died':'owner',
    'hospital':'owner',
    'web':'adoption',
    'eviction':'owner',
    'owner sur':'surrender',
    'return 30':'return',
    'neuter':'medical',
    'post surg':'medical',
    'court ord':'owner',
    'rescue grp':'transfer',
    #'general':'other',
    'quarantine':'medical',
    'at large':'behavior',
    'possibly owned':'assist',
    'confined':'abuse',
    #'keep safe':'other',
    '- dead on arrival':'doa',
    'return30':'return',
    'quarantine - dead on arrival':'doa',
    'trap program':'field',
    'keep safe - dead on arrival':'doa',
    'cruelt - dead on arrival':'doa',
    'dangerous':'behavior',
    'dead on arrival':'doa',
    'quarantine dead on arrival':'doa',
    'heart worm':'condition',
    'keep safe dead on arrival':'doa',
    'surgery':'medical',
    'cruelt dead on arrival':'doa',
    'treatment':'medical',
    'sx post op':'medical',
    'dead':'doa',
    'appoint':'medical',
    'followup':'medical',
    #'alumni':'other',
    #'sac':'other',
    'own hospit':'owner',
    'spay/neut':'owner',
    'own deceas':'owner',
    'illness':'condition',
    #'agg opps':'other',
    'own arrest':'owner',
    'for adopt':'adoption',
    'disaster':'owner',
    'injured':'condition',
    'walk in':'assist',
    #'transport':'other',
    #'pick up':'other',
    'urgent':'medical',
    'owner surr':'surrender',
    'euthanasia request':'euth req',
    'euthanasia requested':'euth req',
    #'transfer':'other',
    ' ':'other'
}, inplace=True)

all.intake_subtype.value_counts()

field        30815
otc          30150
behavior     16991
other         8707
abuse         6119
adoption      4454
surrender     2638
euth req      2424
medical       1777
owner         1338
assist        1270
condition     1084
stray          373
doa            275
Name: intake_subtype, dtype: int64

## Need to fix/examine age in Louisville - lots of large negative numbers related to not having birth date data or it being in the wrong format

In [ ]:
# drop dead
# drop euthanasia request

NET DOG VARIABLE - how at capacity is the shelter?

In [79]:
all.sample(25)

,animal_id,intake_date,intake_type,intake_condition,animal_type,breed,color,outcome_date,birth_date,outcome_type,...,fawn,gray,merle,red,sable,tan,tick,tricolor,white,yellow
211785,a1080298,2019-08-25,confiscated,injured,dog,pitbull,NaN,2019-08-29,NaN,transfer,...,0,0,0,0,0,0,0,0,0,0
91792,a739934,2016-12-09,owner surrender,healthy,dog,chihuahua shorthair/dachshund,black/white,2016-12-11,12/09/2013,transfer,...,0,0,0,0,0,0,0,0,1,0
195880,a0975427,2017-04-21,stray,injured,dog,siberian husky,NaN,2017-04-29,NaN,adoption,...,0,0,0,0,0,0,0,0,0,0
143092,a349270,2008-05-06,medical,healthy,dog,chihuahua shorthair,black,2008-05-06,NaN,rto,...,0,0,0,0,0,0,0,0,0,0
11326,a775501,2018-07-01,owner surrender,healthy,dog,maltese mix,white,2018-07-02,07/01/2010,return to owner,...,0,0,0,0,0,0,0,0,1,0
66222,a707114,2015-08-23,stray,healthy,dog,american staffordshire terrier mix,white/brown brindle,2015-07-15,07/08/2014,return to owner,...,0,0,0,0,0,0,0,0,1,0
183232,a414984,2010-06-29,medical,healthy,dog,pit bull terrier,tricolor,2010-06-29,NaN,released,...,0,0,0,0,0,0,0,1,0,0
74050,a736871,2016-10-18,stray,healthy,dog,pitbull,blue,2016-10-22,08/18/2016,adoption,...,0,0,0,0,0,0,0,0,0,0
220250,a1129792,2021-09-19,stray,healthy,dog,american pit bull terrier,NaN,2021-10-23,NaN,adoption,...,0,0,0,0,0,0,0,0,0,0
194277,a0992449,2017-05-08,owner surrender,unhealthy,dog,german shepherd,NaN,2017-05-08,NaN,euthanized,...,0,0,0,0,0,0,0,0,0,0
38901,a749473,2020-01-06,stray,healthy,dog,staffordshire mix,white/tan,2018-05-16,05/15/2008,return to owner,...,0,0,0,0,0,1,0,0,1,0
145557,a010713,2008-03-15,euthanasia request,unhealthy,dog,mix,black,2008-03-15,NaN,euth,...,0,0,0,0,0,0,0,0,0,0
164212,a631960,2017-12-07,owner surrender,healthy,dog,pit bull terrier,black,2017-12-07,NaN,euth,...,0,0,0,0,0,0,0,0,0,0
174423,a569522,2015-08-27,owner surrender,healthy,dog,chihuahua shorthair,tan,2015-09-01,NaN,adoption,...,0,0,0,0,0,1,0,0,0,0
189758,a0914990,2015-11-01,stray,injured,dog,dachshund,NaN,2015-11-10,NaN,transfer,...,0,0,0,0,0,0,0,0,0,0
39383,a744014,2017-02-21,stray,healthy,dog,labrador retriever mix,black/white,2017-02-22,10/06/2016,return to owner,...,0,0,0,0,0,0,0,0,1,0
127473,a359582,2008-08-14,stray,healthy,dog,pug,black,2008-08-27,NaN,adoption,...,0,0,0,0,0,0,0,0,0,0
11303,a566960,2017-04-01,public assist,healthy,dog,german shepherd mix,black/red,2017-04-10,08/18/2008,return to owner,...,0,0,0,1,0,0,0,0,0,0
154000,a467683,2012-05-31,stray,healthy,dog,labrador retriever,black,2012-06-30,NaN,adoption,...,0,0,0,0,0,0,0,0,0,0
166118,a461746,2012-04-18,stray,healthy,dog,shetland sheepdog,tricolor,2012-05-09,NaN,adoption,...,0,0,0,0,0,0,0,1,0,0
149459,a471494,2012-07-19,stray,healthy,dog,pit bull terrier,black,2012-07-25,NaN,euth,...,0,0,0,0,0,0,0,0,0,0
69361,a797404,2019-06-13,stray,healthy,dog,beagle/pit bull,brown brindle/white,2019-06-18,06/13/2017,adoption,...,0,0,0,0,0,0,0,0,1,0
41067,a718306,2016-01-03,owner surrender,healthy,dog,pitbull,brown/white,2016-01-03,12/27/2010,adoption,...,0,0,0,0,0,0,0,0,1,0
111758,a253868,2005-10-27,other,healthy,dog,labrador retriever,black,2005-11-01,NaN,euth,...,0,0,0,0,0,0,0,0,0,0
60586,a817092,2020-05-07,public assist,injured,dog,pitbull,brown brindle/white,2020-05-15,02/28/2020,return to owner,...,0,0,0,0,0,0,0,0,1,0